
/* Your CSS Code here. */
body{
	margin-top: 40px;
}
.container{
	width: 450px;
	border: 1px solid black;
	height: 500px;
	text-align: center;
	border-radius: 20px;
	background-color: #f8f9fa;
	padding: 5px;	
}
img{
	width: 300px;
	height: 200px;
	border-radius: 20px;
}
#projects, ul{
	display: flex;
	justify-content: center;
	gap: 25px;
	list-style: numbers;
}